[Unit]
Description=bismuth timer to set your desktop wallpaper to the newest Bing Image Of The Day
ConditionVirtualization=!container

[Timer]
OnBootSec=1min
OnActiveSec=30min
RandomizedDelaySec=180

[Install]
WantedBy=timers.target
