[Unit]
Description=bismuth timer to set your desktop wallpaper to the newest Bing Image Of The Day
ConditionVirtualization=!container

[Timer]
OnBootSec=1min
RandomizedDelaySec=180
# systemd-analyze calendar --iterations 3 '*-*-* *:30:00'
OnCalendar=*-*-* *:30:00

[Install]
WantedBy=timers.target
